// COMMONS
// ==========================================================================
body{
  overflow: auto;
}
// END COMMONS
// ==========================================================================

// NAVIGATION
// ==========================================================================
.btn-arrow{
  position: absolute;
  text-align:center;
  font-size: 100px;
  text-decoration: none;
  box-shadow: none;
}
.buttonGoToSecondPage{
  .btn-arrow;
  bottom: 10%;
}
.buttonGoToFirstPage{
  .btn-arrow;
  top:10%;
}
// END NAVIGATION
// ==========================================================================

// SECTIONS
// ==========================================================================

section.stage {
  position: fixed;
  width: 100%;
  .background{
    height: 100%;
    .paco(#333);
  }

}

@background-urls: '../images/step-1/background.png',
                  '../images/step-2/background.png';
.build-stage-backgrounds(@background-image-urls: @background-urls);

@import "stages/timeline";
@import "stages/stage-1";

// END SECTIONS
// ==========================================================================
