@import "bower_components/bootstrap/less/variables.less";
@import "variables.less";
@import "bower_components/bootstrap/less/mixins.less";

.background-image-mixin(@url, @alignment: center center){
  background-image: url(@url);
  background-position: @alignment;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.btn-arrow{
  position: absolute;
  text-align:center;
  font-size: 100px;
  text-decoration: none;
  box-shadow: none;
}
.buttonGoToSecondPage{
  .btn-arrow;
  bottom: 10%;
}
.buttonGoToFirstPage{
  .btn-arrow;
  top:10%;
}
// front section
img{
  max-width:100%;
  max-height: 100%;
}
section.stage {
  height: 100%;
  width:100%;
  div {
    height: 100%;
    width:100%;
    bottom: 0;
  }

  .background{
    padding-left: 0;
    padding-right: 0;
    div{
      position: absolute;
    }
  }

}
section.stage-1{
  .background {
    .background-image-mixin('../images/step1/background.png', top center);
    background-size:cover;
  }

    .cloud1{
      .background-image-mixin('../images/step1/left/leftcloud1.png', bottom left);
      background-size:52%;
    }
    .cloud2{
      .background-image-mixin('../images/step1/left/leftcloud2.png', bottom left);
      background-size:59%;
    }
    .shape1{
      .background-image-mixin('../images/step1/left/blue-shape.png', bottom left);
      background-size:26%;
    }
    .shape2{
      .background-image-mixin('../images/step1/left/shape-green.png', 4% 94%);
      background-size: 9%;
    }


    .blue-arrow {
      .background-image-mixin('../images/step1/right/blue-arrow.png', 94% 113%);
      background-size:30%;
    }
    .blue-shape{
      .background-image-mixin('../images/step1/right/blue-shape.png', bottom right);
      background-size:26%;
    }
    .blue-triangle{
      .background-image-mixin('../images/step1/right/blue-triangle.png', 100% 92%);
      background-size:10%;
    }
    .rightcloud1{
      .background-image-mixin('../images/step1/right/rightcloud1.png', bottom right);
      background-size:43%;
    }
    .rightcloud2{
      .background-image-mixin('../images/step1/right/rightcloud2.png', bottom right);
      background-size:55%;
    }

}



.pt-page-2{
  .background{
    background-image: url('../images/step2-designs-nature/menuarcanoprueba.jpg');
    width: 100%;
    height: 100%;
  }
}
