// COMMONS
// ==========================================================================
body{
  overflow: auto;
}
// END COMMONS
// ==========================================================================

// NAVIGATION
// ==========================================================================
@import "components/arrow-bouncing";
// END NAVIGATION
// ==========================================================================

// SECTIONS
// ==========================================================================

section.stage {
  position: fixed;
  width: 100%;
  .background{
    height: 100%;
  }
}
@background-urls: '../images/step-1/background.png',
                  '../images/step-2/background.png';
.build-stage-backgrounds(@background-image-urls: @background-urls);

@import "stages/timeline";
@import "stages/stage-1";
@import "stages/stage-2";

// END SECTIONS
// ==========================================================================
