
.background-image-mixin(@url){
	background: url(@url) no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.build-stage-backgrounds(@background-image-urls) {
	.foreach(@array: @background-image-urls, @each-callback: {
			.stage-@{i}{
				height: 100vh;
				.background {
					.background-image-mixin(@each-element);
				}
			}
    });
}
