svg {
  position: fixed;
}

#loader {
  position: absolute;
  top: 40vh;
  left: 50%;
  margin-left: -60px;
}

#content {
  visibility: hidden;
}

#timeline {
  position: absolute;
  .nubes {
    background-color: yellow;
    height: 2500px;
  }
  .mountains {
    background-color: black;
    height: 2000px;
  }
  .estatua {
    background-color: aqua;
    height: 2500px;
  }
  .digistal {
    background-color: green;
    height: 1200px;
  }
  .explosion {
    background-color: grey;
    height: 1500px;
  }
  .cueva {
    background-color: red;
    height: 1300px;
  }
}
